:root {
  --primary: var(--cyan);
  --info: var(--blue);
  --anchor: var(--cyan);
  --anchor-hover: var(--yellow);
}
html {
  scroll-behavior: smooth;
}
body {
  padding-top: 6rem;
  max-width: 48rem;
  margin: auto;
  color: var(--light);
  background-color: var(--dark);
}
nav {
  color: var(--light); background: var(--primary); display: flex;
  align-items: center; padding: 0 0.5rem;
}
a { color: var(--anchor); font-weight: bold; }
a:hover { color: var(--anchor-hover); text-decoration: none;}

.starter-template {
  padding: 2rem 1.5rem;
  text-align: center;
  font-family: sans-serif;
}
.nav-header {
  color: var(--light);
}
.btn-group.special {
  display: flex;
}
.special .btn {
  flex: 1
}

.starter-template > h1 {
  color: var(--yellow); padding-bottom: 10px;
}
.starter-template > h2 {
  color: var(--yellow); padding-bottom: 9px;
}