:root {
  --primary: var(--cyan);
  --info: var(--blue);
  --anchor: var(--cyan);
  --anchor-hover: var(--cyan);
}
html {
  scroll-behavior: smooth;
}
body {
  padding-top: 6rem;
  max-width: 48rem;
  margin: auto;
}
nav {
  color: var(--white); background: var(--primary); display: flex;
  align-items: center; padding: 0 0.5rem;
}
.starter-template {
  padding: 2rem 1.5rem;
  text-align: center;
  color: var(--dark);
  font-family: sans-serif;
}
.nav-header {
  color: var(--light);
}
.btn-group.special {
  display: flex;
}
.special .btn {
  flex: 1
}

a {
  color: var(--cyan);
}
a:hover {
  color: var(--cyan);
}