{% extends 'base.html' %}
{% block content %}
  <div class="starter-template">
    <p class="lead">
      On Feb. 10, 2020, after months of escalating labor action, UC Santa Cruz
      graduate students began a <a href="https://payusmoreucsc.com/campaign-timeline/">full wildcat strike</a>
      in order to secure themselves a cost of living adjustment (COLA).
      Since then, the UCSC administration has <a href=https://twitter.com/cityonahill/status/1230964376284254208>spent $300,000 per day</a>
      on hiring police to break the strike.
    </p>
    <p class="lead">You can help striking grads by donating to their <a href="https://www.gofundme.com/f/support-fund-for-striking-workers-at-ucsc">support fund</a>.</p>
    <p class="lead">
      If you have a suggestion or correction, contact me by email (cola.years@gmail.com)
      or Twitter (@ScienceGuyTony) or by making a pull request on
      <a href="https://github.com/anthony-aylward/cola-years">github</a>.
    </p>
  </div>
{% endblock %}